.head{
    font-family: monospace;
}

.button{
    width: 180px;
    height: 40px;
    display:flex;
    margin-left: 95px;
    justify-content: center;
    align-items: center; 
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 190px;
}