.menucontainer{
    height: 70px;
    background-color: rgba(233,222,197,255);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid rgba(233,222,197,255);
    border-bottom: 1px solid rgba(233,222,197,255);
    display: flex;
    flex-direction: row;
    font-family:monospace;
}

.logoimg{
    height: 100%;
    width: 70px;
    margin-left: 20px;
}

.itemcontainer{
    width:100px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family:monospace;
    font-size: 10pt;
    color: gray;
    display: flex;
    justify-content: center;
    hover:text-black;
}
.itemcontainer:hover{
    color:black;
}

.button{
    width: 165px;
    height: 40px;
    margin-top:10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-right:20px;
    text-align: center;
    font-style: italic;
}
